main {
  padding: 80px 152px 346px 80px;
}

header {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: #16145A;
  margin-bottom: 24px;
}

table {
  max-width: 1097px;
  max-height: 568px;
  background: #FFFFFF;
  border: 1px solid #E7E7ED;
  border-radius: 4px;
}

thead {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #E7E7ED;
  height: 48px;
}

th {
  text-align: left;
}

td {
  width: 139px;
}

.edge-td {
  width: 48px;
  text-align: center;
}

.name {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #272833;
}

.img-location {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.date {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #272833;
}

.category {
  padding: 3px 12px;
  width: fit-content;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
}

.Food {
  border-color: #2E5AAC;
  color: #2E5AAC;
}

.Apparel {
  border-color: #118632;
  color: #118632;
}

.Automotive {
  color: #D94130;
}

.Travel {
  border-color: #D94130;;
  color: #D94130;;
}

.Footwear {
  border-color: #118632;
  color: #118632;
}

.Entertainment {
  border-color: #2E5AAC;
  color: #2E5AAC;
}

.Technology {
  border-color: #CDCED9;
}

.description {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #272833;
}

.price {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #272833;
}

.blank-header {
  width: 48px;
}